.meet{
    display:flex;
    flex-wrap:wrap;
}

.btn{
    position:fixed;
    bottom:100px;
    right:100px;
    width:100px;
    height:50px;
    background:rgb(84, 105, 226);
    color:#fff;
    font-size:17px
}